
.row{
    margin: 0px;
}
.row2{
    margin-top: 25px;
}
 .row1{
     margin: 0px;
     background: black;
     height: 90px;
     color: beige;
     
 }
 .title{
     color: white;
     padding: 20px;
 }
 .h3{
    font-size: 20px;
    color: #777;
    margin-top: 5px;
}
ul{
    list-style: none;
}
.link{
    color: orange;
    font-size: 14px;
}
.comment-author-link{
    font-size: 14px;
}
.btn-primary{
        margin-top: -70px;
    background-color: orange;
    margin-left: 600px;
}
.custom{
    font-size: 14px;
}
.lost-password{
    color: orange ;
}
.btn-reset{
    background: orange;
    color: white;
}



