       <section class="P_section">
        <div class="P_navigation">
            <h1 class="P_nav_h1">QT-Forum</h1>
            <a class="P_nav_a" href="#">Home/</a>
            <a class="P_nav_a_1" href="#" >QT-Forum</a>
        </div>
        <div class="row">
            <article class="col-sm-9">
                <h1 class="P_article_h1">QT-Forum</h1>
                <a class="P_article_a" href="#">Home></a>
                <a class="P_article_a_1" href="#" >Forums></a>
                <a class="P_article_a_1" href="#" >QT-Forums</a><br><br>
                <a class="P_article_a_2">This forum has 8 topics, and was last updated 7 months ago by<span><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/></span> admin1.</a>
               <br><br>
                <a class="P_article_a">Viewing 8 topics - 1 through 8 (of 8 total)</a>
                <br><br>
                    <table class="P_table">
                        <tr class="P_tr">
                          <th class="P_th">Forum</th>
                          <th class="P_th">Topics</th>
                          <th class="P_th">Posts</th>
                          <th class="P_th">LastPosts</th>

                        </tr>
                        <tr class="P_tr">
                          <td class="P_td">AI trong Hospitality <br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">AdminHR</a></span> </td>
                          <td class="P_td">2</td>
                          <td class="P_td">2</td>
                          <td class="P_td"><a  class="P_a" href="">7 months ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">admin1</a></span></td>

                        </tr>
                        <tr class="P_tr">
                          <td class="P_td">Bitcoin<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Selena.ltht</a></span> </td>
                          <td class="P_td">2</td>
                          <td class="P_td">2</td>
                          <td class="P_td"><a  class="P_a" href="">7 months ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">admin1</a></span></td>
                        </tr>
                        <tr class="P_tr">
                          <td class="P_td">Blockchain<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">AdminHR</a></span> </td>
                          <td class="P_td">2</td>
                          <td class="P_td">2</td>
                          <td class="P_td"><a class="P_a" href="">7 months ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">admin1</a></span></td>
                        </tr>
                        <tr class="P_tr">
                            <td class="P_td">Phí website<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">AdminHR</a></span> </td>
                            <td class="P_td">2</td>
                            <td class="P_td">2</td>
                            <td class="P_td"><a class="P_a" href="">7 months ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">admin1</a></span></td>
                        </tr>
                          <tr class="P_tr">
                            <td class="P_td">Import Files to Hubspot<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Chau Tran</a></span> </td>
                            <td class="P_td">3</td>
                            <td class="P_td">4</td>
                            <td class="P_td"><a class="P_a" href="">7 months, 1 week ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Admin Tech</a></span></td>
                          </tr>
                          <tr class="P_tr">
                            <td class="P_td">Meeting schedule in Google calendar with Google Sheets data<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">armani</a></span> </td>
                            <td class="P_td">2</td>
                            <td class="P_td">2</td>
                            <td class="P_td"><a  class="P_a" href="">7 months, 2 weeks ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Admin Tech</a></span></td>
                        </tr>
                          <tr class="P_tr">
                            <td class="P_td">Làm sao tuyển 500 nhân viên<br> Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">xuanloi1702</a></span> </td>
                            <td class="P_td">2</td>
                            <td class="P_td">2</td>
                            <td class="P_td"><a  class="P_a" href="">7 months, 2 weeks ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">AdminHR</a></span></td>
                        </tr>
                          <tr class="P_tr">
                            <td class="P_td">test topic<br>Started by: <img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Admin Tech</a></span> </td></td>
                            <td class="P_td">2</td>
                            <td class="P_td">3</td>
                            <td class="P_td"><a class="P_a" href="">7 months, 2 weeks ago</a><br><img src="https://img.icons8.com/metro/26/000000/guest-male.png"/><a href="">Anonymous</a></span></td>
                        </tr>
                          <tr class="P_tr">
                            <td class="P_td"></td>
                            <td class="P_td"></td>
                            <td class="P_td"></td>
                            <td class="P_td"></td>
                          </tr>
                      </table>
                      <br>
                      <a class="P_article_a">Viewing 8 topics - 1 through 8 (of 8 total)</a><br><br>
                      <a class="P_article_a_3">You must be logged in to create new topics.</a>
                      <br><br>
                      <div>
                        <section>
                            <form class="P_form" action="#" method="post">
            
                                <div class="P_container">
                                    <label for="uname"><b>Username or email address</b></label><br>
                                    <input class="P_text" type="text" placeholder="Enter Username" name="uname" required>
                                    <br>
                                    <label for="psw"><b>Password</b></label><br>
                                    <input class="P_password" type="password" placeholder="Enter Password" name="psw" required>
                                    <br>
                                    <label class="checkboxx">
                                        <input type="checkbox" checked="checked" name="remember"> Remember me
                                        <span class="psw"> <a href="#"> Forgot password?</a></span>
                                    </label>
                                    <button class="P_submit"type="P_submit">Login</button>   
                                </div>
                            </form>
                    </div>    
            </article>
            <aside class="col-sm-3">
                  <nav class="navbar navbar-light ">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><span
                            class="fa fa-search"></span></button>
                </form>
            </nav>

            <section class="widget widget_recent_entries">
                <h3 class="h3">Recent Posts</h3>
                <ul>
                    <li>
                        <a class="link" href=#>Trí tuệ nhân
                            tạo trong quản trị nguồn nhân lực.</a>
                    </li>
                    <li>
                        <a class="link" href=#>State of AI in HR</a>
                    </li>
                    <li>
                        <a class="link" href=#>Overview of
                            blockchain and bitcoin (Part 4)</a>
                    </li>
                    <li>
                        <a class="link" href=#>Overview of
                            blockchain and bitcoin (Part 3)</a>
                    </li>
                    <li>
                        <a class="link" href=#>Overview of
                            blockchain and bitcoin (Part 2)</a>
                    </li>
                </ul>

            </section>
            <section class="widget widget_recent_comments">
                <h3 class="h3">Recent Comments</h3>
                <ul id="recentcomments">
                    <li class="recentcomments"><span class="comment-author-link"><a
                                href="https://www.magcloud.com/user/erickwayman" rel="external nofollow ugc"
                                class="url">Carri</a> on</span> <a class="link" href="#">State of AI in HR</a></li>
                    <li class="recentcomments"><span class="comment-author-link">admin1 on </span> <a class="link"
                            href="#">Trí
                            tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
                    <li class="recentcomments"><span class="comment-author-link"><a href="https://royalcbd.com/"
                                rel="external nofollow ugc" class="url">Justin Hamilton</a> on </span><a class="link"
                            href="#">Trí
                            tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
                    <li class="recentcomments"><span class="comment-author-link"><a class="link" href="#"
                                rel="external nofollow ugc" class="url">Kyle Brown</a> on</span> <a class="link"
                            href="#">Overview
                            of blockchain and bitcoin (Part 3)</a></li>
                    <li class="recentcomments"><span class="comment-author-link"><a class="link" href="#"
                                rel="external nofollow ugc" class="url">AffiliateLabz</a> on </span> <a class="link"
                            href="#">Trí
                            tuệ nhân tạo trong quản trị nguồn nhân lực.</a></li>
                </ul>
            </section>
            <section class="widget widget_archive">
                <h3 class="h3">Archives</h3>
                <ul>
                    <li><a class="link" href="https://qntdata.com/2020/02/">February 2020</a></li>
                    <li><a class="link" href="https://qntdata.com/2019/09/">September 2019</a></li>
                    <li><a class="link" href="https://qntdata.com/2019/08/">August 2019</a></li>
                </ul>

            </section>
            <section class="widget widget_categories">
                <h3 class="h3">Categories</h3>
                <ul>
                    <li class="cat-item cat-item-1"><a class="link"
                            href="https://qntdata.com/category/uncategorized/">Uncategorized</a>
                    </li>
                    <li class="cat-item cat-item-20"><a class="link"
                            href="https://qntdata.com/category/wordpress2/">WordPress</a>
                    </li>
                </ul>

            </section>
            <section class="widget widget_meta">
                <h3 class="h3">Meta</h3>
                <ul>
                    <li><a class="link" href="https://qntdata.com/wp-login.php">Log in</a></li>
                    <li><a class="link" href="https://qntdata.com/feed/">Entries feed</a></li>
                    <li><a class="link" href="https://qntdata.com/comments/feed/">Comments feed</a></li>

                    <li><a class="link" href="https://wordpress.org/">WordPress.org</a></li>
                </ul>

            </section>
            <section class="widget widget_categories">
                <h3 class="h3">Categories</h3>
                <ul>
                    <li class="cat-item cat-item-1"><a class="link"
                            href="https://qntdata.com/category/uncategorized/">Uncategorized</a>
                        (5)
                    </li>
                    <li class="cat-item cat-item-20"><a class="link"
                            href="https://qntdata.com/category/wordpress2/">WordPress</a> (1)
                    </li>
                </ul>

            </section>
            <section class="widget widget_recent_blog_posts_widget">
                <h3 class="h3">Recent Posts</h3>
                <ul class="recent-posts">
                    <li><a class="link" href="https://qntdata.com/2020/02/state-of-ai-in-hr/"><img width="50"
                                height="50"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-50x50.jpg"
                                class="attachment-thumbnail-widget size-thumbnail-widget wp-post-image" alt=""
                                loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-50x50.jpg 50w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-155x155.jpg 155w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-300x300.jpg 300w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2020/02/blog-State-of-AI-in-HR_1-100x100.jpg 100w"
                                sizes="(max-width: 50px) 100vw, 50px"></a><a class="link"
                            href="https://qntdata.com/2020/02/state-of-ai-in-hr/">State of AI in HR</a><br><span
                            class="custom">February
                            12, 2020</span></li>
                    <li><a class="link"
                            href="https://qntdata.com/2019/09/overview-of-blockchain-and-bitcoin-part-4/"><img
                                width="50" height="50"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-50x50.jpg"
                                class="attachment-thumbnail-widget size-thumbnail-widget wp-post-image" alt=""
                                loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-50x50.jpg 50w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-155x155.jpg 155w"
                                sizes="(max-width: 50px) 100vw, 50px"></a><a class="link"
                            href="https://qntdata.com/2019/09/overview-of-blockchain-and-bitcoin-part-4/">Overview of
                            blockchain and bitcoin (Part 4)</a><br><span class="custom">September 8, 2019</span></li>
                    <li><a class="link"
                            href="https://qntdata.com/2019/09/overview-of-blockchain-and-bitcoin-part-3/"><img
                                width="50" height="50"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-50x50.jpg"
                                class="attachment-thumbnail-widget size-thumbnail-widget wp-post-image" alt=""
                                loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-50x50.jpg 50w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-155x155.jpg 155w"
                                sizes="(max-width: 50px) 100vw, 50px"></a><a class="link"
                            href="https://qntdata.com/2019/09/overview-of-blockchain-and-bitcoin-part-3/">Overview of
                            blockchain and bitcoin (Part 3)</a><br><span class="custom">September 8, 2019</span></li>
                </ul>
            </section>
            <section class="widget widget_text">
                <h3 class="h3">About Us</h3>
                <div class="textwidget">
                    <p class="custom">Converio is a clean and clear multipurpose responsive WordPress theme. With
                        Converio WordPress theme
                        you can build beautiful and modern sites to promote any business or service fast and easily.</p>
                    <p class="custom"><a class="link" href="#">Get Converio</a> WordPress theme now to start building
                        your awesome site.</p>
                </div>
            </section>
            <section class="widget widget_recent_projects_widget">
                <h3 class="h3">Works Stream</h3>
                <ul class="latest-works">
                    <li><a class="link"
                            href="https://qntdata.com/portfolio/overview-of-blockchain-and-bitcoin-part-4/"><img
                                width="78" height="78"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg"
                                class="attachment-project-thumbnail-tiny size-project-thumbnail-tiny wp-post-image"
                                alt="" loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-155x155.jpg 155w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-4-50x50.jpg 50w"
                                sizes="(max-width: 78px) 100vw, 78px"></a></li>
                    <li><a class="link"
                            href="https://qntdata.com/portfolio/overview-of-blockchain-and-bitcoin-part-3/"><img
                                width="78" height="78"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg"
                                class="attachment-project-thumbnail-tiny size-project-thumbnail-tiny wp-post-image"
                                alt="" loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-155x155.jpg 155w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-3-50x50.jpg 50w"
                                sizes="(max-width: 78px) 100vw, 78px"></a></li>
                    <li><a class="link"
                            href="https://qntdata.com/portfolio/overview-of-blockchain-and-bitcoin-part-2/"><img
                                width="78" height="78"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-78x78.jpg"
                                class="attachment-project-thumbnail-tiny size-project-thumbnail-tiny wp-post-image"
                                alt="" loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-155x155.jpg 155w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/09/blog-Overview-of-blockchain-and-bitcoin-Part-2-50x50.jpg 50w"
                                sizes="(max-width: 78px) 100vw, 78px"></a></li>
                    <li><a class="link"
                            href="https://qntdata.com/portfolio/overview-of-blockchain-and-bitcoin-part-1/"><img
                                width="78" height="78"
                                src="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg"
                                class="attachment-project-thumbnail-tiny size-project-thumbnail-tiny wp-post-image"
                                alt="" loading="lazy"
                                srcset="https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-78x78.jpg 78w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-150x150.jpg 150w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-155x155.jpg 155w, https://secureservercdn.net/198.71.233.138/d0y.65e.myftpupload.com/wp-content/uploads/2019/08/blog-Overview-of-blockchain-and-bitcoin-Part-1-50x50.jpg 50w"
                                sizes="(max-width: 78px) 100vw, 78px"></a></li>
                </ul>
                <a class="link" href="https://qntdata.com/portfolio/" class="view-all">View all</a>
            </section>
            <section class="widget widget_twitter_widget">
                <h3 class="h3">Twitter</h3>
                <ul class="tweets">
                    <li class="custom">
                        The most conversion optimized WordPress theme in the industry has released. Check out this great
                        #themeforest item: <a class="link" href="http://t.co/AWN0QUm0j4"
                            target="_blank">http://t.co/AWN0QUm0j4</a>
                        <br><span><a class="link" href="http://twitter.com/ThemeMotive/statuses/538416249664208897">6
                                years ago
                            </a></span>
                    </li>
                    <li class="custom">
                        The Most Customizable Theme Ever Has Released - Check out this great #themeforest item: <a
                            class="link" href="http://t.co/DdmcRdPHF3" target="_blank">http://t.co/DdmcRdPHF3</a>
                        <br><span><a class="link" href="http://twitter.com/ThemeMotive/statuses/532487543556964352">6
                                years ago </a></span>
                    </li>
                </ul>
            </section>

            </aside>
        </div>
        </section>
       
        
    