<div class="header-solution" uk-grid>
    <div class="uk-width-4-5 uk-margin-auto" uk-grid>
        <div class="tile uk-width-1-3">
            <h3><b>Trading System</b></h3>
        </div>
        <div class="menu uk-width-2-3 uk-text-right">
            <a>Home</a><span>/</span><a>Trading System</a>
        </div>
    </div>
</div>
<div class="section" uk-grid>
    <div class="uk-margin-auto uk-width-4-5 text-top1">
        <div class="uk-text-center">
            <h1><b>Sentiment Driven Automated <br /> Trading System</b></h1>
            <h4><b>Get a deeper insight into your financial decision.</b></h4>
            <p>
                Create the trading system that is flexible, powerful and includes the ability of self-learning.
            </p>
            <button id="">Request A Demo</button>
        </div>
        <div class="aaa">
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class=" animation-left1">
                    <Img src="/Trading_system/trading_001.jpg" />
                </div>
                <div class=" text-top2 animation-right1">
                    <h3 class="uk-card-title">NLP for Sentiment Analysis</h3>
                    <p>Working on raw news is hard. Applying NLP to Sentiment Analysis process can save a lot of
                        time by showing only the most valuable information.</p>
                </div>
            </div>
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class=" text-top2 animation-left2">
                    <h3 class="uk-card-title">Real-Time Data Insights & Monitoring</h3>
                    <p>Combinig with monitor and analyze data in real time</p>
                    <p>Stay up-to-date with the evolving market</p>
                    <p>Detecting trends and hopefully anticipate market shifts. </p>
                </div>
                <div class=" animation-right2">
                    <Img src="/Trading_system/trading_002.jpg" />
                </div>
            </div>
            <div class="uk-child-width-1-2@s" uk-grid>
                <div class=" animation-left3">
                    <Img src="/Trading_system/trading_003.jpg" />
                </div>
                <div class=" text-top2 animation-right3">
                    <h3 class="uk-card-title">Self-learning trading strategies</h3>
                    <p>We build up a framework so that our trading system can study how various factors have
                        interrelated historically, and learns a combination of many predictive models based on its
                        study of historical data. The high level of machine learning plays a key role in ensuring an
                        optimized performance.</p>
                </div>
            </div>
        </div>

    </div>
</div>