
body {
  position: relative;
  background: #fafafa;
  color: #1b345a;
  color: #777;
  font: 14px "Manjari", Helvetca, Arial, sans-serif;
  line-height: 20px;
  font-weight: normal;
  font-weight: 400;
}
.uk-grid > label {
  font-size: 13px;
  color: #444;
  font-family: "Manjari", Helvetca, Arial, sans-serif;
  vertical-align: middle;
}
.uk-form-label {
  font-weight: 600;
  line-height: 30px;
}
.form-control .input-custom{
  border: 2px solid lightgray;
  border-radius: 2px;
  color: grey;
  font-size: 14px ;
}
.form-control small{
  color: #de4a37;
  font-size: 11px;
  float: right;
}
.form-control.error input{
  border: 2px solid  #de4a37 ;

}
#btn-upload{
  font-size: 14px;
  padding: 5px 10px;
  background-color: white;
  color: rgb(58, 58, 58);
  outline: none;
  cursor: pointer;
  border: 2px solid lightgray;
}
.custom-result{
  margin-top: 10px;
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  color: white;
  background-color: #ED5946;
  
}
p {
  font-size: 14px;
  font-family: "Manjari", Helvetca, Arial, sans-serif;
  color: #444;
}
.custom-button {
  background-color: #f28728;
  color: white;
  border: solid;
  padding: 0 20px;
  border-color: #f28728;
  border-radius: 2px;
  font-weight: 500;
}


@media (min-width: 960px) {
  .custom-select {
    margin-left: 50%;
    padding-left: 0;
  }
  
}
.h4-custom {
  font: bold 18px "Manjari", Helvetca, Arial, sans-serif;
  line-height: 26px;
}
.h4-custom a {
  color: #d86d0e;
}
.h4-custom a:hover{
  color: #bf5400;
}
.h2-custom{
  margin: 0 0 18px 0;
  padding: 0;
  color: #333;
  font: normal 29px 'Manjari', Helvetca, Arial, sans-serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.01em;
}
