:root{
    --text-color:rgb(58, 56, 56);
    --boder-color: #dbdbdb;
    --header-height: 90px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 80%;
    line-height: 1.6rem;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}