.main{
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.9);
}
.header{
    height: var(--header-height);
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-list{
    display: flex;
    list-style: none;
}
.header__nav-item--img{
    text-decoration: none;
}
.logo{
    width: 180px;
    height: 48px;
}

.header__nav-item--link{
    color: var(--text-color);
    padding: 0 18px;
    text-decoration:none ;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__nav-icon--link{
    padding: 0 16px;
    color: rgba(176, 176, 176, 1);
}

.header__nav-item--link:hover{
    color: #d86d0e;
}

