<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="../../css/solution/Solution_css.css" <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    <title>Solution</title>
</head>
<body>
    <div class="uk-child-width-1-2@s uk-width-3-4 uk-margin-auto" uk-grid>
        <div>
            <div class="uk-panel uk-h3">AI-Powered Operation Management System.</div>
            <p>Revolutionize your operations with a smart system that benefits you and your staff.</p>
        </div>
        <div class="uk-panel ">
            <div class="uk-panel uk-h3">AI-Powered Operation Management System.</div>
            <p>Revolutionize your operations with a smart system that benefits you and your staff.</p>
            </div>
        </div>
    </div>
</body>
</html>